@font-face {
    font-family: 'Roboto';
    src: local('Roboto'), local('Roboto-Regular'), url('../fonts/Roboto.woff2') format('woff2'), url('../fonts/Roboto.woff') format('woff'), url('../fonts/Roboto.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Italic'), local('Roboto-Italic'), url('../fonts/Robotoitalic.woff2') format('woff2'), url('../fonts/Robotoitalic.woff') format('woff'), url('../fonts/Robotoitalic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Bold'), local('Roboto-Bold'), url('../fonts/Robotobold.woff2') format('woff2'), url('../fonts/Robotobold.woff') format('woff'), url('../fonts/Robotobold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

html {
    font-size: 14px;
}
body {
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
}

.btn {
    background-color: #F4DD15;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 4px 4px #131211;
    color: #000000;
    cursor: pointer;
    font-size: 1.29rem;
    font-weight: bold;
    padding: 8px 15px;
    transition: 0.3s;
}
.btn__wrapper {
    text-align: center;
}
.desktop {
    display: none;
}

.yellow {
    color: #F4DD15;
}

.soc {
    display: flex;
    justify-content: space-around;
}
.soc>div {
    max-width: 70px;
}
.soc img {
    border-radius: 15px;
}

.header {
    background-image: url('../img/bg/bg_mobile.png');
    background-size: cover;
    display: grid;
    grid-template-rows: auto 1fr;
    min-height: 50vh;
}
.header_big {
    min-height: 100vh;
}
.header-top {
    align-items: center;
    background-color: #131211;
    box-shadow: 0 5px 5px black;
    display: flex;
    justify-content: space-between;
    min-height: 50px;
    padding: 10px 15px;
    position: relative;
}

.logo {
    max-width: 35%;
}

.header-top__button {
    cursor: pointer;
}
.header-top__button>div {
    background-color: #F4DD15;
    height: 5px;
    transition: 0.3s;
    width: 30px;
}
.header-top__button>div:nth-child(2) {
    margin: 5px 0;
}
.header-top__button_active>.htb_t {
    transform: translateY(0%) rotateZ(45deg);
}
.header-top__button_active>.htb_m {
    display: none;
}
.header-top__button_active>.htb_b {
    transform: translateY(-100%) rotateZ(-45deg);
}

.headerMenu {
    background-color: #131211;
    left: 0;
    padding: 30px;
    position: absolute;
    text-align: center;
    transform: translateY(-100%);
    transition: all 0.3s;
    width: 100%;
}
.headerMenu_active {
    bottom: auto;
    display: block;
    top: 100%;
    transform: translateY(0);
    z-index: 2;
}
.headerMenu__item {
    font-size: 1.29rem;
    font-weight: bold;
    margin-bottom: 10px;
    position: relative;
}
.headerMenu__item span {
    backface-visibility: hidden;
    background-color: #111;
    display: block;
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    transition: width 0.3s;
    width: 0;
}
.headerMenu__item span::before {
    backface-visibility: hidden;
    color: #F4DD15;
    content: attr(data-text);
    display: block;
    position: absolute;
    right: 0;
    width: 100%;
}
.headerMenu__item:hover span {
    transition: width 0.3s;
    width: 100%;
}

.user-menu__btn_desktop {
    display: none;
}

.header-main {
    display: flex;
    padding: 10px 0;
}
.header-main__img {
    display: none;
}
.header-main__info {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 6px;
    width: 100%;
}
.header-main__info>.btn {
    margin-top: 5vh;
}
.header-main__title {
    font-size: 2.3rem;
    font-weight: bold;
}
.header-main__text {
    font-size: 1.14rem;
    line-height: 16px;
    margin: 2vh 0 0;
}
.header-main__title, .header-main__text {
    text-align: center;
}

.section {
    background-image: url('../img/bg/bg_mobile.png');
    background-size: cover;
    border-top: 3px solid #F4DD15;
    padding: 30px 20px;
    position: relative;
}
.section_bg-lines {
    background: url('../img/bg/section-line__bg_mobile.png');
    background-size: cover;
}
.section_withBB {
    padding: 0;
}
.section_black {
    background: #131211;
}
.section_black .section__img img {
    border: 3px solid #F4DD15;
    border-radius: 20px;
}
.section__img {
    text-align: center;
}

.section__main {
    flex-direction: column;
    display: flex;
}

.section__subtitle {
    font-size: 1.29rem;
    font-weight: bold;
}
.section__title-block {
    margin-bottom: 30px;
}
.section__title {
    font-size: 1.7rem;
    font-weight: bold;
}
.section__title-block>.section__text {
    color: #F4DD15;
    font-size: 1.29rem;
    font-style: italic;
    margin-top: 5px;
}
.section__text {
    line-height: 18px;
    margin: 30px 0;
}
.section__text>p {
    margin-bottom: 10px;
}

.black-block {
    background-color: #131211;
    padding: 30px 20px;
}

.disciplines__cards {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 1fr;
}
.disciplines__card {
    background: rgba(196, 196, 196, 0.2);
    border-radius: 30px;
    box-shadow: 1px 1px 5px #131211;
    min-height: 225px;
    width: 100%;
}
.disciplines__card_front {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    padding: 40px 0;
}
.disciplines__title {
    font-size: 1.7rem;
    font-weight: bold;
    text-align: center;
}

.news {
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    grid-gap: 20px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    margin-bottom: 30px;
}
.news__item {
    align-items: center;  
    background-position: center;  
    background-size: cover;
    border: 1px solid #F4DD15;
    box-shadow: 0 0 5px #F4DD15;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 200px;
    padding: 30px 20px;
    text-align: center;
}
.news__item, .disciplines__card {
    transition: 0.3s;
}
.news__item:hover, .disciplines__card:hover {
    box-shadow: 3px 3px 5px #131211;
    transform: translateY(-10px);
}
.news__date {
    font-style: italic;
    margin: 0;
}
.news__line {
    background-color: #F4DD15;
    height: 3px;
    margin-bottom: 10px;
    width: 70%;
}
.news__title {
    font-size: 1.7rem;
    font-weight: bold;
    margin-bottom: 10px;
}
.newsItem__text {
    font-size: 2rem;
    line-height: 2rem;
}
.news__buttons, .files__buttons {
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: center;
}
.news__buttons>.btn {
    margin-bottom: 10px;
}
.modal {
    background-color: rgba(0, 0, 0, 0.8);
    height: 100%;
    position: fixed;
    transform: scale(0);
    transition: 0.3s;
    width: 100%;
    z-index: 999;
}
.modal_active {
    transform: scale(1);
}
.modal-content {
    display: flex;
    justify-content: center;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
}
.form-wrapper {
    max-width: 300px;
    position: relative;
}
.form {
    background: #131211;
    border: 1px solid #F4DD15;
    display: flex;
    flex-direction: column;
    padding: 30px;
}
.form>input, .form>textarea, .form>select {
    background: none;
    border: 1px solid #ffffff;
    color: #ffffff;
    margin-bottom: 15px;
}
.form option {
    background: #131211;
    color: #fff;
}
.form>#image {
    margin-top: 15px;
}
input, textarea {
    padding: 10px;
}
.closeForm {
    border-radius: 50%;
    margin-right: -15px;
    margin-top: -15px;
    max-width: 30px;
    position: absolute;
    right: 0;
    top: 0;
}

.progress {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr;
}
.progress-card {
    background-color: #131211;
    padding: 20px;
    text-align: center;
}
.progress__title {
    font-size: 3.43rem;
    font-weight: bold;
    margin: 30px 0;
}
.progress__text {
    font-size: 1.29rem;
    font-weight: bold;
}

.section_contacts {
    padding: 0;
}
.contacts {
    padding: 30px 20px;
}
.contacts>.section__text {
    margin: 0;
}
.contact__title {
    font-size: 1.29rem;
    font-weight: bold;
    margin-bottom: 5px;
}

.files {
    margin-top: 20px;
}
.files-category {
    cursor: pointer;
    margin-bottom: 10px;
}
.files-wrapper {
    display: none;
    flex-direction: column;
    transition: 0.3s;
}
.files-category_active .files-wrapper {
    display: flex;
}
.files-category_active>.openFilesList>div {
    transform: rotateZ(180deg);
}
.files-block {
    border: 1px solid #F4DD15;
    display: flex;
    margin: 10px 0;
    position: relative;
}
.files-info {
    width: 100%;
}
.files-item {
    align-items: center;
    display: flex;
}
.files__icon {
    margin-right: 10px;
    max-width: 15%;
}
.delete-file {
    align-items: center;
    background: #bf0909;
    display: flex;
    justify-content: center;
    height: 100%;
    margin-left: auto;
    padding: 10px;
    position: absolute;
    right: 0;
    transition: 0.3s;
}
.openFilesList {
    align-items: center;
    border: 1px solid white;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.openFilesList>div {
    transition: 0.3s;
    width: 30px;
}

.footer {
    background-color: #131211;
    border-top: 3px solid #F4DD15;
    padding: 30px;
}
.footer__menu>.logo {
    display: none;
}
.footer__menu {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
}
.footer__list {
    margin-top: 15px;
}
.footer__item {
    margin-bottom: 5px;
    transition: 0.3s;
}
.footer__item:hover:not(.footer__item_bold) {
    color: #F4DD15;
    transform: translateX(10px);
}
.footer__item_bold {
    color: #F4DD15;
    font-size: 1.7rem;
    font-weight: bold;
}

@media (min-width: 576px) {
    html {
        font-size: 18px;
    }

    .logo {
        max-width: 20%;
    }
    .header-main {
        padding: 30px 0;
    }
    .header-main__info {
        padding: 0 70px;
    }
    .section {
        padding: 30px 50px;
    }
    .section_withBB {
        padding: 0;
    }
    .black-block {
        padding: 30px 50px;
    }

    .disciplines__cards {
        grid-template-columns: 1fr 1fr;
    }
    .disciplines__card_front, .disciplines__card_back {
        padding: 40px 0;
    }
    .disciplines__title {
        font-size: 1rem;
    }

    .progress {
        grid-template-columns: 1fr 1fr;
    }
    .progress-card {
        padding: 30px 20px;
    }
    .progress__title {
        font-size: 2.5rem;
    }

    .footer__menu {
        grid-template-columns: 1fr 1fr;
    }
    .footer__menu>.footer__list:last-child {
        grid-column: 2 / 3;
    }
}

@media (min-width: 768px) {
    .header_big {
        min-height: 50vh;
    }
    .logo {
        max-width: 15%;
    }
    .header-top__button {
        display: none;
    }
    .headerMenu {
        padding: 0;
        position: static;
        transform: none;
        width: 70%;
    }
    .headerMenu>ul {
        align-items: center;
        display: flex;
        justify-content: flex-end;
    }
    .headerMenu__item {
        font-size: 1rem;
        margin-bottom: 0;
        margin-left: 20px;
    }
    .user-menu__btn_desktop {
        cursor: pointer;
        display: block;
        max-width: 50px;
    }
    .user-menu__btn_mobile {
        display: none;
    }
    .user-menu__block {
        display: none;
    }
    .header-main__info {
        padding: 0 90px;
    }
    .header-main__text {
        line-height: 24px;
    }
    .btn {
        font-weight: normal;
    }
    .section_contacts {
        display: flex;
        padding: 0;
    }
    .section_contacts>.section__main {
        justify-content: center;
        width: 30%;
    }

    .news__buttons, .files__buttons {
        flex-direction: row;
        justify-content: space-between;
    }
    .files__title {
        font-size: 1.7rem;
        text-overflow: ellipsis;
    }
    .delete-file {
        opacity: 0;
        width: 0;
    }
    .files-block:hover .delete-file {
        opacity: 1;
        width: 20%;
    }
}

@media (min-width: 992px) {
    .desktop {
        display: block;
    }
    .mobile {
        display: none;
    }
    .header-main {
        align-items: center;
        justify-content: center;
        padding: 10px 80px;
    }
    .header_big>.header-main {
        padding: 0 40px;
    }
    .header-main__info {
        align-items: flex-start;
        padding: 0;
    }
    .header-main__title, .header-main__text {
        text-align: left;
    }
    .header-main__img {
        display: block;
        max-width: 300px;
    }

    .section, .footer {
        padding: 50px 120px;
    }
    .section__main_row {
        display: grid;
        grid-gap: 30px;
        grid-template-columns: 1fr 1fr;
    }
    .section_withBB {
        padding: 0;
    }
    .black-block {
        align-self: flex-end;
    }

    .soc {
        justify-content: flex-start;
    }
    .soc>div {
        margin-right: 10px;
    }

    .map {
        background: url('../img/1.png');
    }
    .progress {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .news {
        grid-auto-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    }

    .files__icon {
        max-width: 5%;
    }

    .footer__menu {
        align-items: flex-end;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .footer__menu > .footer__list:last-child {
        grid-column: auto;
    }
    .footer__list_left {
        text-align: left;
    }
    .footer__list_right {
        text-align: right;
    }
}

@media (min-width: 1200px) {
    .header {
        min-height: 60vh;
    }
    .header_big {
        min-height: 80vh;
    }
    .headerMenu__item {
        font-size: 1.2rem;
    }
    .user-menu__btn_desktop {
        max-width: 60px;
    }
    .header-main {
        justify-content: space-between;
        padding: 0 10%;
    }
    .header_big>.header-main {
        padding: 0 0 0 10%;
    }
    .header-main__img {
        max-width: 45%;
    }
    .section__text {
        line-height: 24px;
    }
    .disciplines__cards {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .newsItem__text {
        font-size: 1.4rem;
        line-height: 2rem;
    }
}

@media (min-width: 1440px) {
    html {
        font-size: 24px;
    }
    .header {
        min-height: 50vh;
    }
    .header_big {
        min-height: 100vh;
    }
    .header_big .header-main__img {
        align-self: flex-end;
    }
    .news {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 2500px) {
    html {
        font-size: 32px;
    }
}